.container{
    padding: 0%;
    margin: 0%;
    width: auto;
    height: auto; 

}
.box{ 
        padding: 0%;
        margin: 0%;
        width: 2050px;
        height: 1050px;
        background-image: url("./img/iceland-5120x2880-4k-5k-wallpaper-sea-shore-sand-6292.jpg");
        background-size: cover;
        
        display: flex;
        
}
.bin{
    margin-left: 28%;
    margin-top: 100px;

    width: 900px;
    height: 500px;
    flex-direction: row-reverse;
}
.top{
    width: 100%;
    height: 100px;
    opacity: 65%;
    background-color: rgb(0, 0, 0);
    display: flex;
    
}
.after{
    display: flex;
    width:50%;
    height: 100px;
    opacity: 88%;
    background-color: rgb(226, 165, 125);
    justify-content: center;
}
.after1{
    display: flex;
    width:50%;
    height: 100px;
    opacity: 88%;
    background-color: rgb(2, 238, 255);
        justify-content: center;
}
.beafter{



    width:auto;
    height: auto;
    flex-direction:row; 
    display: flex;
}
.beafter1{


    background-color: beige;
    width:auto;
    height: auto;
    flex-direction:row; 
    display: flex;
}

.afters{
    display: flex;
    width:50%;
    height: 100px;
    background-color: rgb(247, 179, 140);
}
.afters1{
    display: flex;
    width:50%;
    height: 100px;
    background-color: rgb(95, 255, 218);
}
.top1{
    justify-items: center;
    width: 100%;
    height: 100px;
  
    background-color: rgb(255, 255, 255);
    display: flex;
    
}
.top2{
    width: 100%;
    height: 100px;
    opacity: 65%;
    background-color: rgb(135, 23, 255);
    display: flex;
    

}
.start{
    background-color: rgb(5, 201, 35);
   
}
.start:hover{
    background-color: rgb(218, 255, 55);
}
.display{
    font-family: sans-serif;
    margin: 5px;
    margin-top: 21px;
    color: rgb(255, 255, 255);
    font-size: 38px;
}
.display:not(:last-child):after{
    content: ':';
}